.form_news {
    color: #fff;
}

.container{
    padding: 1.5rem;
}

input[type=text], input[type=password], input[type=email], .sub_news {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    outline: none;
    border-radius: 6px;
}
input[type=text], input[type=password], input[type=email]{ border:3px solid #cecece; }
input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
    border: 3px solid #619DA1;
}

@media screen and (min-width:400px){
  form{
    width:80%;
    margin:0 auto;
  }
}

@media screen and (min-width:520px){
  form{
    width:60%;
    margin:0 auto;
  }
}

@media screen and (min-width:720px){
  form{
    width:50%;
    margin:0 auto;
  }
}