* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  font-size: 1.2em;
  background-color: #fff;
  color: #EEE;
  display: flex;
  flex-direction: column;
}

input, button {outline:none;}

a, a:hover {
    outline: none;
    text-decoration: underline;
    color: #a09d87;
	cursor: pointer;
}

.logo {max-width: 50%}

.main {
  flex: 1 0 auto;
}

.grey_text {color: #555}

.footer {
    padding: 28px 0 5px 0;
    text-align: center;
    background-color: #5d5d5d;
    color: #a8aa94;
	flex-shrink: 0;
	margin-top: 3%;
}

.footer a:hover {
    color: #fff;
    text-decoration: none;
}


.text {
	vertical-align:bottom;
	display: flex;
	align-items: flex-end;
}

